<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');</style>

  <!-- CSS -->
  <link rel="stylesheet" href="../styles/menu.css">
  <link rel="stylesheet" href="../styles/layout.css">
  <link rel="stylesheet" href="../styles/typography.css">

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
  <script src="/scripts/app.js"></script>

  <title>Menu</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main>
    <div class="welcome">
      <div class="sliding-background"></div>
      <div class="welcome-message">
        <h1 id="welcome-greeting">Welcome to the teashop!</h1>
        <h3 id="welcome-slogan">Your one stop shop for milk tea, fruit tea, and smoothies.</h3>
        <a href="#category-one"><button class="order" >View our menu</button></a>
      </div>
    </div>
    <div class="categories">
      <div class="category-one">
        <h1>DRINK MENU</h1>
      </div>
      <div class="menu-items">
        <!-- start of template for item card -->
        <% for (let item of menuItems) { %>
        <div class="item-card">
          <img class="food-photo" src=<%= item.photo_url %> alt="">
          <div class="details">
              <h3 id="item-name"><%= item.name %></h3>
              <p id="description"><%= item.description %></p>
          </div>
          <div class="price-tag">
            <p id="price">$<%= item.price / 100 %>.00</p>
            <p id="item-id">#<%= item.id %></p>
            <% if (item.category_id === 1) { item.category_id = 'Milky' } else if (item.category_id === 2) {
              item.category_id = 'Fruity' } else if (item.category_id === 3) { item.category_id = 'Smoothie'}; %>
            <p id="category"><%= item.category_id %></p>
          </div>
          <form class="add-to-order">
            <input type="hidden" name="item_id" value=<%= item.id %> >
            <input class="qty" name='qty' type="number" min="0" max="10">
            <button type="submit" class="confirm">Add to order</button>
          </form>
        </div>
        <% }; %>
        <!-- end of template for item card -->
      </div>
      <br>
      <div class="category-one">
        <h1>YOUR ORDER</h1>
      </div>
    </div>
      <div class="checkout-area">
        <div class="my-cart">
          <div id="cart-header">
            <img id="cart-icon" src="https://static.thenounproject.com/png/1359635-200.png">
            <h3>My Cart</h3>
          </div>
          <div id="cart"></div>
          <div class="confirmation">
            <form class="checkout">
              <button class="confirm">Checkout</button>
            </form>
          </div>
        </div>
      </div>

  </main>
  <%- include('partials/_footer') %>

  <!-- Scripts -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script> -->

</body>
</html>
