<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../styles/order_details.css">

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
  <script src="/scripts/app.js"></script>

</head>
<body>
  <%- include('partials/_header') %>
  <main>
    <h2>Your Order Details</h2>
    <div class="items-list">
      <div class="menu-items">
        <!-- start of template for order card -->

          <div class="order-card">

            <div class="details">

              <!-- <h3><%= orders %></h3> -->

              <!-- contains all of the details from the table orders -->
              <!-- for (const order_details of orderDetails) {  -->

              <h3>ORDER ID:<%= orders[0].id %></h3>
              <h3>STATUS:<%= orders[0].order_status %></h3>
              <h3>Total Price:<%= orders[0].total_price %></h3>
              <h3>Total Items:<%= orders[0].total_items %></h3>

              <!--  };  -->

            </div>
          </div>

          <!-- end of template for order card -->
      </div>
    </div>
  </main>
  <%- include('partials/_footer') %>
</body>
</html>
